html {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.container input {
  display: none;
}

.container label {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2a2a2a;
  border-style: dashed;
  border-radius: 5px;
  cursor: pointer;
}

.container label i {
  font-size: 5rem;
  color: #2a2a2a;
}

.container .imagesArea {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.container .imagesArea .img {
  width: 20%;
  height: 300px;
  padding: 10px;
  word-wrap: break-word;
}

.container .imagesArea .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
